

body {
    background: linear-gradient(123deg, #FFFCAC 0%, #FFFFFF 67%), linear-gradient(180deg, #D8D8D8 0%, #6B0000 100%), linear-gradient(142deg, #F9F5F0 0%, #F9F5F0 33%, #F2EAD3 calc(33% + 1px), #F2EAD3 56%, #F4991A calc(56% + 1px), #F4991A 62%, #321313 calc(62% + 1px), #321313 100%);
    background-blend-mode: multiply, overlay, normal;
      font-family: sans-serif;
      font-size: 40px;
     
     
    }
    
    h1 {
      font-size: 30px;
      text-transform: capitalize;
      font-weight: bold;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: brown;
    }
    
    input {
      margin-bottom: 1em;
    }
    #cont{
      text-align: center;

    }
    form{
      text-align: center;
      border: 1px solid;
     padding: 20px;
     box-shadow: 5px 10px #888888;
    
     
  
    }
   .formgroup{
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
   
    
   }
   
   input{
    width: 40vw;
    height: 5vh; 
   }
   
   textarea{
    margin: 10px;
   }
   button {
    background-color: gold;
    color: black;
    padding: 10px 10px;
    margin: 2px ;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    border-radius: 30px;
    height: 10vh;
    font-size: 30px;
    font-weight: bolder;
  }
  
  button:hover {
    opacity:1;
  }
